html, body {
    overflow: hidden;
  }

.buttonText {
    font-family: 'Kameron', sans-serif;
    font-size: 32px;
    color:#9f7909;
}
.descriptionText {
    font-family: 'Kameron', sans-serif;
    font-size: 24px;
    color: #e0e0e0;
}
.descriptionBox {
    background-color: #505050;
    opacity: 100%;
    padding-left: 24px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2vw;
    border: solid;
    border-radius: 8px;
    position: relative;
    top: 0px;
}
.titleBox {
    background-color: #cc5010;
    padding-left: 24px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2vw;
    border: solid;
    border-radius: 8px;
    text-align: center;
    opacity: 100%;
}
.box {
    background-color: #505050;
    opacity: 100%;
    padding: 2vw;
    margin: 2vw;
    border: solid;
    border-radius: 8px;
    position: relative;
    top: 0px;
}
body {
    background-color: #404040;
    margin: 0px;
}

.vrbutton
{
    font-family: 'Kameron', serif;
    font-size: 20px;
    color:#9f7909;
    border-color: #9f7909;
    border-width: 8px;
    width: 30%;
    height: 10%;
    position: absolute;
    bottom: 20px;
}

a:link {
    color: #ff8020;
}
a:visited {
    color: #cc5010;
}
a:hover {
    color: #ee6010;
}
.ui_container
{
    position: absolute;
    top: 0%;
    left: 2.5%;
    height: 100%;
    width: 95%;
}
.ui_backplate
{
    background-color: #5D1719;
    opacity: 100%;
    position: absolute;
    /* top: 2.5%;
    left: 2.5%;
    height: 95%;
    width: 95%; */
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
}
.title_image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 12px; */
    padding-top: 12px;
    width: 30%;
    height: auto;
    transition: width 0.7s, height 0.7s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.configuration_label
{
    font-family: 'Kameron', sans-serif;
    font-size: 32px;
    /* 32px; */
    color:#9f7909;
    background-color: #000000;
    
    height: 40px;
    padding-top: 6px;
    margin-top: auto;
    margin-bottom: auto;    
    display:inline;
}
.configuration_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20%; */
    width: 100%;
    margin-top: -30px;
    /* border: 3px solid green; */
}
.configuration_group
{
    display: block;
    width: 70%;
    max-width: 800px;
    /* min-width: 400px; */
    background-color: #000000;
    border-color: #9f7909;
    border-width: 0.9vw;
    border-style: solid;
    margin: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    /* height: 30%; */
}
.ok_cancel_button
{
    font-family: 'Kameron', sans-serif;
    font-size: 32px;
    color:#9f7909;
    background-color: #000000;
    border-color: #9f7909;
    border-width: 4px;
    border-style: solid;
    /* margin: 4px; */
    width: 40%;
    /* height: 40%; */
}
.button_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 5px;
    /* border: 3px solid green; */
}
.button_group
{
    width: 40%;
    display: block;
    /* border: 3px solid red; */
}
button
{
    font-family: 'Kameron', sans-serif;
    /* font-size: 48px; */
    font-size: 5vw;
    color:#9f7909;
    background-color: #000000;
    border-color: #9f7909;
    border-width: 0.9vw;
    /* 12px */
    border-style: solid;
    margin: 4px;
    width: 100%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
button:disabled
{
    color:#83713a;
    border-color: #83713a;
}
.webxr_not_found
{
    /* color:#8d1414; */
    /* border-color: #8d1414; */
    color:#9f7909;
    border-color:#9f7909;
    font-size: 2vw;
}

.plus_minus_button
{
    font-family: 'Kameron', sans-serif;
    font-size: 24px;
    color:#9f7909;
    background-color: #000000;
    border-color: #9f7909;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    /* margin: 4px; */
    width: 40px;
    height: 40px;
}

.plus_minus_container
{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-left: 5%;
    /* border: 3px solid red; */
}
.plus_minus_container:not first-child
{
    justify-content: flex-end;
}

.next_prev_button
{
    font-family: 'Kameron', sans-serif;
    font-size: 24px;
    color:#9f7909;
    background-color: #000000;
    border-color: #9f7909;
    border-width: 4px;
    border-style: solid;
    /* border-radius: 25%; */
    /* margin: 4px; */
    /* margin-top: 33%; */
    width: 40px;
    height: auto;
}
.workout_description_text
{
    font-family: 'Kameron', sans-serif;
    font-size: 22px;
    color:#9f7909;
    background-color: #000000;
    border-color: #9f7a0940;
     /* // #303030; */
    border-width: 2px;
    border-style: solid;
    /* border-radius: 25%; */
    /* margin: 4px; */
    margin: 6px;
    width: 100%;
    height: 110px;
    padding: 9px;
    padding-left: 8px;
    padding-right: 8px;

}
ul 
{
    /* list-style-type: none; */
    margin: 0;
    /* padding: 0; */
}

.push_right
{
    margin-left: auto;
}
.about_panel_container
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 20%;
    padding: 16px;
    border: 3px solid green;
}
.about_panel_group
{
    display: block;
    /* justify-content: center; */
    width: 90%;
    height: 100%;

    border:#9f7909;
    border-style: solid;
    border-width: 8px;
    background-color: black;

    margin-top: 1vh;
}
.about_panel_iframe
{
    border-style:none;
    width: 100%;
    min-height: 35vh;

    /* border:yellowgreen;
    border-width: 8px;
    border-style: solid; */
}
.about_close_button
{
    font-size: 32px;
    display: block;
    height: auto;
    width: 50%;
    margin-left: 25%;
    border-width: 6px;
    justify-content: center;
    box-shadow: none;
}


.app_version_text
{
    /* display: block; */
    padding-bottom: 0%;

    display: flex;
    justify-content: center;

    font-family: 'Kameron', sans-serif;
    font-size: 16px;
    color:#9f7909;
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }